body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightskyblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 70vh;
    background-color: black;
    border-radius: 10px;
}

.btn {
    margin: 10px;
    width: 100px;
    height: 50px;
}

#decimal-button {
    background-color: #ffc107;
}
#equals-button {
    background-color: #ffc107;
}
#clear-button{
    background-color: #ff5722;
}

#calculator-display {
    width: 100%;
    border: none; 
    outline: none;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    color: white;
    background-color: black;
    text-align: right;
    font-size: 40px;
}


